.about-section {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically if you want full height */
  margin-top: 40px;
  padding: 40px 20px;
}

.about-card {
  background-color: #f2f6f8;
  padding: 30px;
  border-radius: 12px;
  max-width: 700px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.about-card h3 {
  color: #2c3e50;
  margin-bottom: 15px;
}

.about-card p {
  color: #4f5d75;
  line-height: 1.6;
  font-size: 16px;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius:2px;
  object-fit: contain;
  margin-right: 15px;
}
